<div class="plane" data-id="<%= plane.id %>" data-token="<%= plane.token %>">
  <div class="number"><%= link_to plane.number, plane_path(plane) %></div>
  <div class="state"><%= plane.state.humanize %></div>

  <div class="takeoff <%= 'hidden' unless plane.awaiting? %>">
    <%= link_to icon(:arrow_go), takeoff_plane_path(plane) %>
  </div>

  <div class="confirm <%= 'hidden' unless plane.in_progress? %>">
    <%= link_to icon(:check), confirm_takeoff_plane_path(plane) %>
  </div>

  <div class="cancel <%= 'hidden' unless plane.pending? || plane.in_progress? %>">
    <%= link_to icon(:cross), cancel_plane_path(plane) %>
  </div>

  <div class="remove">
    <%= link_to icon(:trash), plane_path(plane), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
