<div id="planes">
  <%= render @planes %>

  <div class="plane new">
    <div class="number">New plane</div>
    <div class="state">
      <%= form_for plane = Plane.new do |f| %>
        <%= f.text_field :number %>
      <% end %>
    </div>

    <div class="add">
      <%= link_to icon(:check), '#' %>
    </div>
  </div>

</div>

<script>init_planes_page();</script>
