@font-face {
  font-family: 'icons';
  src:url(font_path('icons/icons.eot'));
  src:url(font_path('icons/icons.eot?#iefix')) format('embedded-opentype'),
  url(font_path('icons/icons.woff')) format('woff'),
  url(font_path('icons/icons.ttf')) format('truetype'),
  url(font_path('icons/icons.svg?#icons')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon.check:before {
  content: "\e60f";
}
.icon.arrow_go:before {
  content: "\e601";
}
.icon.trash:before {
  content: "\e603";
}
.icon.cross:before {
  content: "\e609";
}
