html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background: #f2f2f2;
  font-family: Roboto, sans-serif;
}

#content {
  width: 70%;
  max-width: 900px;
  margin: 0 auto;

  #menu {
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;

      li {
        display: inline-block;
        border-right: 1px solid #f2f2f2;

        a {
          color: #707070;
          text-decoration: none;
          font-size: 17px;
          display: inline-block;
          padding: 20px 30px;

          &:hover {
            background: #f8f8f8;
            @include transition(background 150ms);
          }
        }
      }
    }
  }

  #logo {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #eaeaea;
    width: 200px;
    margin: 50px auto;
    cursor: default;
    @include user-select(none);

    .right {
      text-align: right;
    }
  }
}

#toast-container > div {
  opacity: 1;
  box-shadow: none;
  padding: 15px 25px 15px 100px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-size: 30px 30px;
  background-position: 35px center;

  &:hover {
    opacity: 1;
    box-shadow: none;
  }
}

#toast-container {
  > .toast-success {
    background-image: image-url('toastr-success.png') !important;
  }

  > .toast-error {
    background-image: image-url('toastr-error.png') !important;
  }

  > .toast-info {
    background-image: image-url('toastr-info.png') !important;
  }

  > .toast-warning {
    background-image: image-url('toastr-warning.png') !important;
  }
}

.toast {
  &.toast-success {
    background: #4CAF50;
  }

  &.toast-error {
    background: #F44336;
  }

  &.toast-info {
    background: #2196F3;
  }

  &.toast-warning {
    background: #FF8F00;
  }

  .toast-title {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
  }

  .toast-message {
    font-size: 14px;
    line-height: 22px;
  }
}
