#planes {
  .plane {
    background: #fff;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 24px;
    @include box-sizing(border-box);
    @include display(flex);
    padding: 20px 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

    &.new {
      margin-top: 30px;

      input[type=text] {
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #c6c6c6;
      }
    }

    @media screen and (max-width: 500px) {
      display: block;
    }

    .hidden {
      display: none;
    }

    > div {
      padding: 0 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-right: 1px solid #f2f2f2;

      @media screen and (max-width: 500px) {
        margin: 10px 0;
        display: inline-block;
      }
    }

    .number {
      width: 20%;

      @media screen and (max-width: 500px) {
        width: auto;
      }
    }

    .state {
      @include flex(1);
    }

    .number, .takeoff, .confirm, .cancel, .remove, .add {
      a {
        color: #707070;
        text-decoration: none;
        @include transition(color 150ms);

        &:hover {
          color: #b6b6b6;
        }
      }
    }
  }
}
