<!DOCTYPE html>
<html>
<head>
  <title>RunwayControl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <div id="menu">
      <ul>
        <li><%= link_to 'Planes list', planes_path %></li>
        <li><%= link_to 'Log', logs_planes_path %></li>
      </ul>
    </div>

    <div id="logo">
      Runway <div class="right">Control</div>
    </div>

    <%= yield %>
  </div>
</body>
</html>
